body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #1CCA6E, #6F36C5); /* Degrade entre as cores desejadas */
}

header {
  text-align: center;
  padding: 20px;
}

.logo-container img {
  border-radius: 50%;
}

main {
  text-align: center;
  padding: 20px;
}

.training-box {
  background-color: rgba(255, 255, 255, 0.47); /* Transparência de 47% */
  border: 2px solid #ffffff; /* Contorno branco */
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
}

.video-container {
  margin-top: 20px;
}

.test-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f5025d;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 10px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.test-button:hover {
  background-color: #ffffff;
  color: #f5025d;
}

/* Estilo para o logotipo */
.logo-container img {
  max-width: 150px; /* Ajuste este valor conforme necessário */
  height: auto; /* Mantém a proporção do logotipo */
}

