/* Estilo para o fundo do site */
body {
    background-color: #4CAF50; /* Verde */
    color: #333333; /* Cinza escuro para o texto */
    font-family: Arial, sans-serif; /* Fonte padrão */
}

/* Estilo para o título */
header h1 {
    color: #FFFFFF; /* Branco para o título */
    text-align: center; /* Centralizar o título */
    padding: 20px; /* Adicionar algum espaçamento ao redor do título */
}

/* Estilo para os links de navegação */
nav a {
    color: #FFFFFF; /* Branco para os links */
    text-decoration: none;
    margin: 0 10px;
}

/* Estilo para os cursos */
.curso {
    background-color: #FFFFFF; /* Branco para o bloco do curso */
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

/* Estilo para o título do curso */
.curso h2 {
    color: #4CAF50; /* Verde para o título do curso */
    font-size: 24px;
    margin-top: 0;
}

/* Estilo para a descrição do curso */
.descricao-curso {
    font-size: 16px;
}

