<style>
    /* Adicione estilos específicos do JavaScript aqui se necessário */
    nav ul {
        display: none;
        transition: opacity 0.5s ease-in-out;
    }

    nav ul.show {
        display: block;
        opacity: 1;
    }

    button {
        background-color: #007BFF;
        color: #fff;
        padding: 10px 15px;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
    }

    button:hover {
        background-color: #0056b3;
    }
</style>
